<span class="mdl-layout-title top-border">Juliana Nazar&eacute;
	<span class="social-icons">
		<a class="social-link" href="{{site.data.settings.github_link}}">
			<img class="social-icon" src="/static/img/github-icon.png">
		</a>
		<a class="social-link" href="{{site.data.settings.twitter_link}}">
			<img class="social-icon" src="/static/img/twitter-icon.png">
		</a>
		<a class="social-link" href="{{site.data.settings.linkedin_link}}">
			<img class="social-icon" src="/static/img/linkedin-icon.png">
		</a>
		<a class="social-link" href="{{site.data.settings.instagram_link}}">
			<img class="social-icon" src="/static/img/instagram-icon.png">
		</a>
		<a class="social-link" href="{{site.data.settings.email_link}}">
			<img class="social-icon" src="/static/img/email-icon.png">
		</a>
	</span>
</span>
<hr>