<center>
	<a href="{{site.data.settings.base_url}}/">
		{% if page.location == "main" %}
			<img class="headshot" src="./static/img/juliana.jpg" width="80%">
		{% else %}
			<img class="headshot" src="../static/img/juliana.jpg" width="80%">
		{% endif %}
	</a>
</center>
<nav class="mdl-navigation">
	<a class="mdl-navigation__link not-underlined" href="{{site.data.settings.base_url}}/">About</a>
	<a class="mdl-navigation__link not-underlined" href="{{site.data.settings.base_url}}/#academics">Academics</a>
	<a class="mdl-navigation__link not-underlined" href="{{site.data.settings.base_url}}/#portfolio">Portfolio</a>
	<!-- <a class="mdl-navigation__link not-underlined" href="{{site.data.settings.base_url}}/#links">Links</a> -->
	<div class="social-icons">
		<a class="social-link" href="{{site.data.settings.github_link}}">
			<img class="social-icon" src="/static/img/github-icon.png">
		</a>
		<a class="social-link" href="{{site.data.settings.twitter_link}}">
			<img class="social-icon" src="/static/img/twitter-icon.png">
		</a>
		<a class="social-link" href="{{site.data.settings.linkedin_link}}">
			<img class="social-icon" src="/static/img/linkedin-icon.png">
		</a>
		<a class="social-link" href="{{site.data.settings.instagram_link}}">
			<img class="social-icon" src="/static/img/instagram-icon.png">
		</a>
		<a class="social-link" href="{{site.data.settings.email_link}}">
			<img class="social-icon" src="/static/img/email-icon.png">
		</a>
	</div>
</nav>
<!-- <div class="email"> Juliana [at] media.mit.edu </div> -->